---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Empowering every Kenyan citizen with accessible parliamentary data and insights." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/assets/logo_64x64.png" />
  </head>
  <body>
    <slot />
  </body>
</html>
